@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
  background: linear-gradient(45deg, #CC39E9, #8F37EF) !important;
}
body .container {
  max-width: 100%;
  padding: 20px;
}
*,
body, 
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p, body a, body button {
  font-family: 'Roboto', sans-serif;
}
